{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="create-post-view">
            <h1>New Post</h1>
            <form id="post-form" method="post">
                {% csrf_token %}
                <textarea id="post-text" placeholder="Write your thougths"></textarea>
                <input id="form-submit" type="submit" value="post!">
            </form>
        </div>

        <div id="app-posts">
        </div>

        <div id="user-view">
        </div>

        <div id="following-view">
        </div>
    {% else %}
        <div id="app-posts">
        </div>

        <div id="user-view">
        </div>
    {% endif %}
{% endblock %}